In [13]:
# Write a python program to Display all Numbers within a range except the Prime numbers.

start = int(input("Enter the start of the range: "))
end = int(input("Enter the end of the range: "))

print("Non-prime numbers within the range", start, "to", end, "are:")

for num in range(start, end + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            continue
    print(num, end=" ")

Enter the start of the range: 2
Enter the end of the range: 9
Non-prime numbers within the range 2 to 9 are:
4 6 8 9

In [ ]:
# Python Program to check Prime Number

n = int(input('Enter the number : '))
if n == 1:
    print(f"{n} is not a prime number")
elif n > 1:
    for i in range(2, n):
        if (n % i) == 0:
            print(f"{n} is not a prime number")
            break
    else:
        print(f"{n} is a prime number")
else:
    print(f"{n} is not a prime number")

In [10]:
# Use a for loop to calculate the sum of all numbers from 1 to 100

sum = 0
for i in range(1,101):
    sum = sum + i
print(sum)

5050

In [14]:
# Use a for loop to calculate the sum of all odd numbers from 1 to 100

sum = 0 
for i in range(1,101):
    if i % 2 != 0:
        sum = sum + i
print(sum)

2500

In [17]:
# Use a for loop to calculate the factorial of a given number

n = int(input('Enter the number : '))
factorial = 1
for i in range(1,n+1):
    factorial = factorial * i
print(factorial)

Enter the number : 5
120

In [22]:
# Create a for loop to iterate over a string and count the number of vowels

word = input("Enter the word : ")
vowel_sum = 0
for i in word:
    if i in {'A','a','E','e','I','i','O','o','U','u'}:
        vowel_sum = vowel_sum+1
print(vowel_sum)

Enter the word : prathamesh
3

In [ ]:
# Create a multiplication table

n = int(input('Enter the number : '))
for i in range(1,11):
    print(n, "x", i,'=',n*i)

In [ ]:
# Python Program to print Fibonacci Sequence

n = int(input('Enter the number of terms : '))
fib = [] 
p = 1
if n < 0:
    print('Number of terms cannot be negative : ')
elif n == 1:
    fib.append(0)
elif n == 2:
    fib.append(1)
for i in (3,n+1):
    p=+i
    fib.append(p)
print(fib)

In [25]:
#Write a program to display all the numbers which are divisible by 11 but not by 2 between 100 and 500

for i in range(100,501):
    if i%11==0 and i%2 != 0:
        print(i)

121
143
165
187
209
231
253
275
297
319
341
363
385
407
429
451
473
495

In [7]:
# Use a for loop to find the common elements between two lists

list_1 = [1,2,4,5,6]
list_2 = [2,4,7,9,0]

for i in list_1:
    for j in list_2:
        if i == j:
            print(i)

2
4

In [11]:
# Create a for loop to iterate over a dictionary and print the keys and values

dict1 = {"Name": "Prathamesh", "Age": 25, "City": "Vadodara"}
for key, value in dict1.items():
    print(key, ":", value)

Name : Prathamesh
Age : 25
City : Vadodara

In [30]:
# Write a for loop to print the first 10 even numbers

for i in range(1,11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [9]:
# Create a for loop to iterate over a list and print each element

l = list(input("Enter the list : "))
for i in l:
    if i != " ":
        print(i)

Enter the list : 2 2 3 4 5 6 7
2
2
3
4
5
6
7

In [54]:
# Use a for loop to remove duplicates from a list

l = [1,2,3,1,1,2,5,6,7,7]
s = set(l)

In [59]:
l = [1,-2,23,-32,-20,10,2]
sum = 0
for i in l:
    if i > 0:
        sum = sum + i
print(sum)

36

In [11]:
# Write a for loop to print a pattern of stars in the shape of a triangle (Without user input)

for row in range(4):
    for col in range(7):
        if row == 0 and col == 3:
            print("*",end=' ')
        elif row == 1 and col in {2,3,4}:
            print('*',end=' ')
        elif row == 2 and col in {1,2,3,4,5}:
            print('*',end=' ')
        elif row == 3 and col in {0,1,2,3,4,5,6}:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

      *
    * * *
  * * * * *
* * * * * * *

In [4]:
# Write a for loop to print a pattern of stars in the shape of a triangle (with user input)

n = int(input("Enter the number of rows: "))
for i in range(1, n + 1):
    print(" " * (n - i) + "* " * i)

Enter the number of rows: 6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [6]:
# Write a for loop to print a pattern of stars in the shape of a square and write your initial latter in square.

for row in range(5):
    for col in range(5):
        if row == 0 and col in range(5):
            print('*',end=' ')
        elif row == 1 and col in {0,4}:
            print('*',end=' ')
        elif row == 2 and col in {0,4}:
            print('*',end=' ')
        elif row == 3 and col in {0,4}:
            print('*',end=' ')
        elif row == 4 and col in range(5):
            print('*',end=' ')
        elif row == 2 and col in {2}:
            print('P',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *
*       *
*   P   *
*       *
* * * * *